html {
  height: 100%;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  color: #3d3d3d;
}

.wrappe {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  max-width: 320px;
  margin: auto;
}

.para {
  padding: 4px;
  margin: 2px;
}

.main-heading {
  color: #0A97B0;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.al{
  background-color: #0A97B0;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  padding:4px 15px;
  border: 2px solid #0A97B0;
  transition: all 200ms ease;
}
.al:hover {
  color: #0A97B0;
  background-color: #fff;
  
}

a {
  color: #0A97B0;
}

.parax {
  display: flex;
  align-items: center;
}

.svge {
  padding-right: 5px;
}